@{
    ViewData["Title"] = "Tyuiu AR Mueseum";
}

<div class="text-center">
    <h1 class="display-4">Tyuiu AR Mueseum</h1>
    <p>Узнать больше <a href="https://www.tyuiu.ru">поступаем в ТИУ, молодые</a>.</p>
</div>

